streamlit==1.45.1
groq==0.26.0

langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.59
langchain-text-splitters==0.3.8
langchain-huggingface==0.2.0

chromadb==1.0.12
sentence-transformers==3.0.1
transformers==4.51.3

flashrank==0.2.10
rank_bm25==0.2.2
pypdf==5.5.0

faiss-cpu==1.13.0